__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
outputs/
.venv/
venv/*
data_raw/ 
processed_data/ 
*.pth 
*.zip 
__pycache__/ 
*.pyc 
*.egg-info/ 
.ipynb_checkpoints/ 
kaggle.json 
.env 
lane_detection.egg-info/
lane_detection_data/
lane_detection_data-*.zip
docs/*